<h1>Stupid Coaching</h1>

<p class="border-start border-5"> <p><em>-You</em></p> <%= params[:question] %></p>
<p class="alert alert-warning" role="alert"> -Your coach <%= @answer %></p>

<%= link_to "Ask a new question", ask_path %>
